html,
body { height: 100%; }

body {
  overflow-x: hidden;
}

section {
  margin: 1rem;
}

header {
  height: 100%;
  text-align: center;
  background: blue;
}

h1 {
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  color: white;

}
.is--fixed {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 1.5;
  transform: translateY(0);
  background: blue;
}


p {
  opacity: 0;
  transition: .5s ease-in-out;
}

p:nth-child(odd) {
  transform: translateX(-150px);
}

p:nth-child(even) {
  transform: translateX(150px);
}


p.active {
  opacity: 1;
  transition: .5s ease-in-out;
  transform: translateX(0px);
}
